/* .add-button,
.counter-button {
  padding: 5px 10px;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.counter-wrapper {
  display: flex;
  align-items: center;
} */

/* .counter-value {
  margin: 0 8px;
  font-size: 0.9rem;
  font-weight: bold;
} */
